---
layout: page
---
<article class="post">

  <h2>{{ page.price }} CHF</h2>
  <img src="{{ site.baseurl }}/{{ page.image }}"
       onmouseover="ga('send', {
         hitType: 'event',
         eventCategory: 'Image',
         eventAction: 'mouseover',
         eventLabel: '{{ page.image }}'
       });"

       onclick="ga('send', {
         hitType: 'event',
         eventCategory: 'Image',
         eventAction: 'click',
         eventLabel: '{{ page.image }}'
       });"
  />

  {{ content }}

  <a class="button" href="https://www.google.ch/search?q={{ page.title }}">Buy it !</a>

</article>
